:root
{
    --bgcolor: #2d233f;
    --bgcolor2: #2d233f;
    --textcolor: #7e7e8e;
    --elementglow: #a4a4b5;
    --menucolor: #1d1029;
    --italiccolor: #6c5e86;
    --hyperlinkcolor: #9d9dc7;
}
body
{
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-family: 'Inter';
    margin: 0px;
    zoom: 100%;
    filter: drop-shadow(6px 6px 5px rgb(0 0 0 / 0.4));
}


#content {
    font-size: 150%;
    text-align: center;
    background-color: var(--menucolor);
    border-radius: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1vh;
    padding-bottom: 2vw;
    margin-top: 1vw;

}


@media (max-width: 1650px) {
    #content {
        padding-bottom: 75px;

    }
}



a
{
    text-decoration: none;
    color: var(--hyperlinkcolor);
}
#pfp
{
    border-radius: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}


#navmenu {
    margin-top: 25px;
    
    
    display: block;
    text-align: center; /* center */
    margin-left: auto;
    margin-right: auto;
}

#buttonbar {
    display: inline-block;
    background-color: var(--menucolor);
    margin-top: 25px;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    fill: var(--textcolor);
}


a svg {
    fill: var(--textcolor);
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.1s ease-in-out;

  }
a svg:hover
{
    fill: var(--elementglow);
    filter: drop-shadow(0px 0px 5px var(--elementglow));
    transform: scale(1.1);
}
  
a p
{
        color: var(--textcolor);
}

 h2, h3, h4, h5
{
    margin: 10px;
}

#portfolio
{
    border-radius: 20px; height: 35px;

}

#italicnote
{
    text-align: center;
    color: var(--italiccolor);
}