@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
  --base: #1e1e2e;
  --surface0: #313244;
  --text: #cdd6f4;
  --subtext1: #a6adc8;
  --mantle: #181825;
  --mauve: #cba6f7;
  --crust: #11111b;
  --lavender: #b4befe;
  --surface2: #585b70;
}

html:has(.Tobleronecord), body:has(.Tobleronecord){
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: var(--text);
  font-family: "Poppins";
  background-color: var(--crust);
}

.Tobleronecord {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .InfoModal
  {
    text-align: center;
    background-color: var(--base);
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 10vh;
  }
  .InfoModal:first-child
  {
    /*How does this even happen*/
    margin-top: 175vh;
  }
  img
  {
    width: 33vw;
  }
  a
  {
    z-index: 3;
    color: var(--mauve);
    text-decoration: none;
  }
}