@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300&family=M+PLUS+Rounded+1c&display=swap);

:root {
    --bgcolor: #cb919f;
    --textcolor: #131313;
    --elementglow: #d7d0d0;
    --menucolor: #d19fab; /* Adjusted menu color for better contrast */
    --italiccolor: #151212;
    --hyperlinkcolor: #3ecae6; 
}


html
{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.shieldsicon
{
    height: 35px;
    border-radius: 20px;
    filter: brightness(0.81) contrast(1.25) saturate(1.2);
}


body
{
    background-color: var(--bgcolor);
    color: var(--textcolor);
    font-family: 'Inter';
    margin: 0px;
    zoom: 100%;
    filter: drop-shadow(6px 6px 5px rgb(0 0 0 / 0.4));
}


#content {
    font-size: 150%;
    text-align: center;
    background-color: var(--menucolor);
    border-radius: 50px;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1vh;
    padding-bottom: 2vw;
    margin-top: 1vw;

}


@media (max-width: 1650px) {
    #content {
        padding-bottom: 75px;

    }
}

h1
{
    margin-top: 10px;
}

a, button
{
    text-decoration: none;
    color: var(--hyperlinkcolor);
    
}
#pfp
{
    border-radius: 100%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

}


#navmenu {
    margin-top: 25px;
    
    
    display: block;
    text-align: center; /* center */
    margin-left: auto;
    margin-right: auto;
}

#buttonbar {
    display: inline-block;
    background-color: var(--menucolor);
    margin-top: 25px;
    border-radius: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    fill: var(--textcolor);
}


a svg, button svg {
    fill: var(--textcolor);
    padding-left: 2px;
    padding-right: 2px;
    transition: all 0.1s ease-in-out;

  }
a svg:hover, button svg:hover
{
    fill: var(--elementglow);
    filter: drop-shadow(0px 0px 5px var(--elementglow));
    transform: scale(1.1);
}
  
a p, button p
{
        color: var(--textcolor);
}

button
{
    background: transparent !important;
    border: transparent !important;
}
 h2, h3, h4, h5
{
    margin: 10px;
}

#portfolio
{
    border-radius: 20px; height: 35px;
    padding-bottom: 85px;
}

#italicnote
{
    text-align: center;
    color: var(--italiccolor);

}